%li.dropdown
  %a.dropdown-toggle{ "href" => "#", "data-toggle"=>"dropdown", "role" => "button", "aria-expanded"=>"false"}
    Account <span class="caret"></span>
  %ul.dropdown-menu
    - if user_signed_in?
      = link_to 'Profile', edit_user_registration_path
      = link_to 'Sign Out', destroy_user_session_path, :method=>:delete
    - else
      / CONNECT
      = link_to 'Sign In', new_user_session_path
      = link_to 'Sign Up', new_user_registration_path