.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/examples.txt
spec/dummy/.sass-cache
.DS_Store
test_app/
lib/**/Gemfile.lock
website/build
.idea/
.ruby-gemset
.ruby-version
