.container
  .row
    .center-panel
      .panel.panel-default.only

        .panel-heading
          %h3.panel-title
            Forgot your password?

        .panel-body

          = form_for(resource, as: resource_name, url: password_path(resource_name), layout: :horizontal) do |f|

            / = devise_error_messages!

            = f.email_field :email, autofocus: true

            = f.submit "Send me reset password instructions"

          %p.text-right
            = render partial: "devise/shared/links"
