
.navbar {
  margin-bottom: 0;
}

$splash-top: #333;                                                                                                                             
$splash-bot: #555;                                                                                                                             
    
.splash .masthead {
  color: #fff;                                                                                                                                 
      
  padding-top: 120px;                                                                                                                          
  padding-bottom: 120px;                                                                                                                       
      
  background-color: $splash-top;
  @include filter-gradient($splash-top, $splash-bot, vertical);
  @include background-image(linear-gradient(top,  $splash-top 0%, $splash-bot 100%));

  .brand {
    margin: 120px 0;
  }

  .signup {
    margin: 120px 0;
  }
}  

.splash .readme {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;
  }
  dt {
    margin-top: 1.0em;
  }
}
