//-----------------------------------------
// Layout styles
//-----------------------------------------

@include sticky-footer($footer-height);

#root {
  padding-top: 50px;
  background-color: $body-bg;
}


#footer {
  color: $footer-color;
  background-color: $footer-background-color;
  height: $footer-height;
  line-height: $footer-height - 1;

  h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
    margin: 0;
  }
}

.panel.only { margin-top: 70px; }


.splash {
  .jumbotron {
    color: $panel-default-text;

    background-image: url('https://s3.amazonaws.com/rickystestbucket/nyc.jpg');
    background-size: cover;
    background-position: center center;

    padding-top: 150px;
    padding-bottom: 150px;

    margin-top: 0;
    margin-bottom: 0;
  }  

  .jumbotron .panel {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .jumbotron .signup { margin-top: 40px; }

  section {
    @include box-shadow( 0 0 50px rgba(0,0,0,0.3) inset );
    padding: 30px 0;
    &.dark { color: #fff; background-color: #222; }
  }

  .readme {
    h1, h2, h3, h4, h5, h6 { margin-top: 2em; }
    dt { margin-top: 1.0em; }
  }

}


